.container {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 10px;
    min-height: 200px;
}

.container h2 {
    align-self: center;
    border-bottom: solid 2px black;
    width: fit-content;
}

.container span {
    margin: 10px 5px;
}

.container a {
    position: absolute;
    top: 5px;
    right: 5px;
}

.word-card {
    text-align: center;
}

.word-card h3 {
    margin-top: 5px;
}

.word-card button {
    border-radius: 8px;
}

.saved-snacks {
    height: 350px;
    overflow: scroll;
}

.saved-snacks::-webkit-scrollbar {
    display: none;
}

.saved-snacks {
    -ms-overflow-style: none;
    scrollbar-width: none;
}